@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
.landing-heading {
  font-family: Crimson Text;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 43px;
letter-spacing: 0.02em;

color: #1E1A1D;
  }

  .landing-subtitle{
    font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
margin-bottom: 16px;

color: #1E1A1D;
  }
  .landing-body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    
    color: #1E1A1D;
    
  }

  .blog-post-container {
    font-family: 'Quattrocento';
    font-size: 24px; 
  }
  .blog-post {
    font-family: 'Quattrocento';
    font-size: 24px; 
    padding: 30px;
  }
  .blog-post-content {
    font-family: 'Quattrocento Sans';
    font-size: 18px; 
   
  }
  .musings-subheading{
    font-family: 'Quattrocento Sans';
    font-style: italic; 
    font-size: 18px; 
  }

.musings-text {
  font-family: 'Quattrocento';
  font-size: 24px; 
  display: flexbox; 
  padding: 50px;
  justify-content: flex-start;
}
.about-picture { 
  display: inline-flex;
  vertical-align: top;
  width: 40;
  /* margin: 5px; */
}
.about-text {
  text-decoration: none; color:#000; 
  font-size: 17px;
  display: inline-flex;
  width: 59%;
  margin: 8px;
  flex-basis: auto;
  flex-grow: 4;
}

a { 
  text-decoration: none; color:#000; 
  font-family: '"Quattrocento", serif';
  font-size: 24px;
  }
  a.firstfont{
    font-family: '"Quattrocento", serif';
  font-size: 24px;
  }
  a.secondfont{
    font-family: '"Quattrocento Sans", sans serif';
    font-color: #1E1A1D; 

  font-size: 20px;
  }
  a:visited { font-weight: 500; text-decoration: underline; color: #1E1A1D; }
  a:hover { font-weight: 500; text-decoration: underline; color: #426B69; }
  a:focus { font-weight: 500; text-decoration: underline; color: #426B69;  }
  a:hover, a:active { font-weight: 500; text-decoration: underline; color: #426B69;  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
  }
 
  .column {
    /* flex: 25%; */
    padding: 5px;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 50%;
  }
}