@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.landing-heading {
    font-family: 'Quattrocento';
    font-size: 40px; 
  }

  .landing-body {
    font-family: 'Quattrocento';
    font-size: 24px; 
  }

  .blog-post-container {
    font-family: 'Quattrocento';
    font-size: 24px; 
  }
  .blog-post {
    font-family: 'Quattrocento';
    font-size: 24px; 
    padding: 30px;
  }
  .blog-post-content {
    font-family: 'Quattrocento Sans';
    font-size: 18px; 
   
  }
  .musings-subheading{
    font-family: 'Quattrocento Sans';
    font-style: italic; 
    font-size: 18px; 
  }

.musings-text {
  font-family: 'Quattrocento';
  font-size: 24px; 
  display: flexbox; 
  padding: 50px;
  justify-content: flex-start;
}
.about-picture { 
  display: inline-flex;
  vertical-align: top;
  width: 40;
  /* margin: 5px; */
}
.about-text {
  text-decoration: none; color:#000; 
  font-size: 17px;
  display: inline-flex;
  width: 59%;
  margin: 8px;
  flex-basis: auto;
  flex-grow: 4;
}

a { 
  text-decoration: none; color:#000; 
  font-family: '"Quattrocento", serif';
  font-size: 24px;
  }
  a.firstfont{
    font-family: '"Quattrocento", serif';
  font-size: 24px;
  }
  a.secondfont{
    font-family: '"Quattrocento Sans", sans serif';
    font-color: black; 

  font-size: 20px;
  }
  a:visited { text-decoration: none; color: black; }
  a:hover { text-decoration: none; color: #FFA69E; }
  a:focus { text-decoration: none; color:#FFA69E; }
  a:hover, a:active { text-decoration: none; color: #FFA69E }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
  }
 
  .column {
    /* flex: 25%; */
    padding: 5px;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 50%;
  }
}